# see: https://docs.brew.sh/Cask-Cookbook
cask "wip" do
  desc "Wip makes software development simpler, more enjoyable, and more productive"
  homepage "https://wip.tech"
  url "https://github.com/wip-tech/wip/releases/download/_tag_/_archive_name_"
  sha256 "_sha_"
  version "_version_"

  app "wip.app"
  binary "wip"

end